integration_name: com.newrelic.postgresql

instances:
  # A name for the collection
  - name: sample_postgres
    # The only supported command is all_data
    command: all_data
    arguments:
      # The username for the postgres instance. Required.
      username: postgres
      # The password for the postgres instance. Required.
      password: pass
      # The hostname for the postgres instance. Defaults to localhost.
      hostname: psql-sample.localnet
      # The port of the postgres instance. If PgBouncer is being used,
      # use the port it is running on. Defaults to 5432
      port: 6432
      # The JSON object which contains the entities to monitor. The nesting
      # levels of JSON are database name -> schema name -> table name -> index name
      # parameter is requied for collection. If left as an empty JSON object nothing will be collected.
      collection_list: '{"postgres":{"public":{"pg_table1":["pg_index1","pg_index2"],"pg_table2":[]}}}'
      # True if SSL is to be used. Defaults to false.
      enable_ssl: true
      # True if the SSL certificate should be trusted without validating.
      # Setting this to true may open up the monitoring service to MITM attacks.
      # Defaults to false.
      trust_server_certificate: false
      ssl_root_cert_location: /etc/newrelic-infra/root_cert.crt
      ssl_cert_location: /etc/newrelic-infra/postgresql.crt
      ssl_key_location: /etc/newrelic-infra/postgresql.key
      timeout:  10
    labels:
      env: production
      role: postgresql

