integration_name: com.newrelic.postgresql

instances:
  - name: <INSTANCE IDENTIFIER>
    command: all_data
    arguments:
      username: <The username for the PostgreSQL database>
      password: <The password for the specified user>
      hostname: <(Optional) The PostgreSQL hostname, default is localhost>
      port: <(Optional) The port where PostgreSQL database is listening, default is 5432>
      collection_list: <The list of entities to collect metrics on, of the form '{"database_name":{"schema_name":{"table_name":["index_name"]}'>
      enable_ssl: <(Optional) true or false. Indicates if SSL encryption should be used, default is false>
      trust_server_certificate: <(Optional) true or false. If true server certificate is not verified for SSL. If false certificate will be verified against supplied certificate>
      ssl_root_cert_location: <(Optional) Absolute path to PEM encoded root certificate file. Required if enable_ssl is true and trust_server_certificate is false>

      # Location of client SSL certificate. Will be used instead of the default ~/.postgresql/postgresql.crt
      ssl_cert_location: <(Optional) Absolute path to PEM encoded client cert file. Must specify ssl_key_location if this is specify. Required if enable_ssl is true>

      # Location of client secret key for the client certification. Will be used instead of the default ~/.postgresql/postgresql.key
      ssl_key_location: <(Optional) Absolute path to PEM encoded client key file. Must specify ssl_cert_location if this is specify. Required if enable_ssl is true>
      timeout: <(Optional) Maximum wait for connection, in seconds. Set 0 for no timeout>
    labels:
      env: production
      role: postgresql

